html{
    scroll-behavior: smooth;
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    scroll-behavior: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: $font-med;
    font-weight: 300;
    color: $grayishBlue;
    line-height: 1.25;

    @include breakpoint-up(large){
        font-size: $font-med;
    }

    &.no-scroll{
        overflow: hidden;
    }
}

// Texts
h1, h2, h3{
    font-weight: 300;
    line-height: 1.15;
    color: $dark;
    margin-top: 0;
}

h1 {
    font-size: $font-lg;
    margin-bottom: 1.5rem;

    @include breakpoint-up(large){
        font-size: $font-xlg;
    }
}

h2{
    font-size: 1.875rem;
    margin-bottom: 1.5rem;

    @include breakpoint-up(large){
        font-size: $font-lg;
        margin-bottom: 2.25rem;
    }
}

p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}

// Spacing
.container{
    max-width: 60rem;
    margin: 0 auto;

    &--pall{
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &--py{
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
            padding-bottom: 6rem;
        }
    }
    &--px{
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    &--pt{
        padding-top: 4.375rem;

        @include breakpoint-up(large){
            padding-top: 6rem;
        }
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pb{
        padding-bottom: 4.375rem;

        @include breakpoint-up(large){
            padding-bottom: 6rem;
        }
    }
    &--pl{
        padding-left: 1.5rem;
    }
}

// Flexbox styling
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
}

// Buttons
button, .button{
    display: inline-block;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    background-color: transparent;
}

// Visibility

.hide-for-xsmall{
    // hide for tablet and mobile
    @include breakpoint-down(xsmall){
        display: none;
    }
}

.hide-for-medium{
    // hide for tablet and mobile
    @include breakpoint-up(small){
        display: none;
    }
}

.hide-for-mobile{
    // hide for tablet and mobile
    @include breakpoint-down(small){
        display: none;
    }
}

.hide-for-desktop{
    // hide for desktop viewport widths
    @include breakpoint-up(medium){
        display: none;
    }
}

// Projects ColorThemes
// New Dataset
.dataset-bg{
    background-color: $datasetColor;
}
.dataset-text{
    color: $datasetColor;
}

// Multi-modal MER
.multimodal-bg{
    background-color: $multimodalColor;
}
.multimodal-text{
    color: $multimodalColor;
}

// Super Resolution
.sr-bg{
    background-color: $srColor;
}
.sr-text{
    color: $srColor;
}
