.toc {

    &__holder {
        width: 100%;
        text-align: right;

    }

    &__list {
        position: fixed;
        max-height: calc(100vh - 70px);
        top: 70px;
        bottom: 0;
        list-style-type: none;

        >li {
            margin-top: .75rem;
            margin-bottom: .75rem;
        }
    }

    &__list-long {
        position: fixed;
        max-height: calc(100vh - 70px);
        max-width: calc(100vw - 73%);
        top: 70px;
        bottom: 0;
        list-style-type: none;
        
        @include breakpoint-down-height(large-height){
            overflow-y: scroll;
            padding-right: .25rem;
        }

        &__dataset {
            @include custom-scroll-bar($datasetColorT60);
        }

        &__multimodal {
            @include custom-scroll-bar($multimodalColorT60);
        }

        &__sr {
            @include custom-scroll-bar($srColorT60);
        }

        >li {
            margin-top: .75rem;
            margin-bottom: .75rem;
        }
    }

    &__list-medium {
        position: fixed;
        max-height: calc(100vh - 70px);
        max-width: calc(100vw - 73%);
        top: 70px;
        bottom: 0;
        list-style-type: none;
        
        @include breakpoint-down-height(medium-height){
            overflow-y: scroll;
            padding-right: .25rem;
        }

        &__dataset {
            @include custom-scroll-bar($datasetColorT60);
        }

        &__multimodal {
            @include custom-scroll-bar($multimodalColorT60);
        }

        &__sr {
            @include custom-scroll-bar($srColorT60);
        }

        >li {
            margin-top: .75rem;
            margin-bottom: .75rem;
        }
    }

    &__btn{
        text-align: right;
        font-size: .875rem;
        padding: 0 0;
        padding-right: .35rem;;
        color: $dark;
        border-right: 2px solid $darkT60;
    
        @include breakpoint-up(medium) {
            font-size: .835rem;
        }

        &__dataset{

            &:hover{
                color: $datasetColor;
                border-right: 2px solid $datasetColorT40;
            }
        }

        &__multimodal{

            &:hover{
                color: $multimodalColor;
                border-right: 2px solid $multimodalColorT40;
            }
        }

        &__sr{

            &:hover{
                color: $srColor;
                border-right: 2px solid $srColorT40;
            }
        }
    }

    &__btn-sub{
        text-align: right;
        font-size: .845rem;
        padding: 0 0;
        padding-right: .35rem;;
        color: $dark;
        border-right: 6px solid $darkT40;
    
        @include breakpoint-up(medium) {
            font-size: .815rem;
        }

        &__dataset{

            &:hover{
                color: $datasetColor;
                border-right: 6px solid $datasetColorT40;
            }
        }

        &__multimodal{

            &:hover{
                color: $multimodalColor;
                border-right: 6px solid $multimodalColorT40;
            }
        }

        &__sr{

            &:hover{
                color: $srColor;
                border-right: 6px solid $srColorT40;
            }
        }
    }

    &__btn-ssub{
        text-align: right;
        font-size: .815rem;
        padding: 0 0;
        padding-right: .35rem;;
        color: $dark;
        border-right: 10px solid $darkT40;
    
        @include breakpoint-up(medium) {
            font-size: .775rem;
        }

        &__dataset{

            &:hover{
                color: $datasetColor;
                border-right: 10px solid $datasetColorT40;
            }
        }

        &__multimodal{

            &:hover{
                color: $multimodalColor;
                border-right: 10px solid $multimodalColorT40;
            }
        }

        &__sr{

            &:hover{
                color: $srColor;
                border-right: 10px solid $srColorT40;
            }
        }
    }

    &__dataset, &__multimodal, &__sr{
        >a {
            font-size: .875rem;
            color: $dark;

            &:hover {
                text-decoration: none;
            }
        }
    }
}