// Colors

$light: #fafafa;
$white: #ffffff;

$dark: #585856;
$darkT60: #58585699;
$darkT40: #58585666;
$darkT25: #58585626;

$datasetColor: #cf3327;
$datasetColorT60: #cf332799;
$datasetColorT40: #cf332766;
$datasetColorT25: #cf332726;

$multimodalColor: #48a090;
$multimodalColorT60: #48a09099;
$multimodalColorT40: #48a09066;
$multimodalColorT25: #48a09026;

$srColor: #1a1416;
$srColorT60: #1a141499;
$srColorT40: #1a141466;
$srColorT25: #1a141426;

$darkBlue: hsl(233, 27%, 50%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);


// Font sizes
$font-sm: .875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 2.25rem; // 36px
$font-xlg: 3.25rem; // 52px