.main-container{
  padding-top: 90px;
  width: 70%
}

.cards-container{
  width: 100%;
  /* position: relative; */
}

.brand-container{
  width: 15% !important;
  text-align: right !important;
  background-color: transparent;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
}

.menu-container{
  width: 40% !important;
  float: right;
  margin-right: 18% !important;
  text-align: right !important;
  background-color: transparent;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  font-size: 1.25rem;
}

.col-side{
  /*padding-top: 90px;*/
  flex: 0 0 auto;
  width: 25%;
}

.col-middle{
  flex: 0 0 auto;
  width: 50%;
}

.read-container{
  padding-top: 90px;
  width: 100%;
  /* position: relative; */
}

.col-proj-main{
  flex: 0 0 auto;
  width: 100%;
}

.col-empty{
  flex: 0 0 auto;
  width: 0%;
}

.struct-col{
  padding-right: 3%;
}

.title-space{
  padding-bottom: 0px;
}
