.proj-title-sep{
  height: 2px;
  background-color: #cf3327 !important;
  color: #cf3327 !important;
  margin: -5px 0px 25px 0px;
}



.proj-code-space{
  padding-top: 10px;
}

.toc-title-space{
  padding-top: 25px;
  scroll-margin-top: 65px;
}

.toc-title-sep{
  width: 50%;
  height: 1px;
  background-color: #cf3327 !important;
  color: #cf3327 !important;
  margin: 3px 0px 15px 0px;
}

.proj-img-holder{
  padding-top: 5px;
  padding-bottom: 25px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

.proj-structure{
  text-align: right !important;
  height: auto;
  position: fixed;
  bottom: 10%;
  right: 80%;
}

.proj-code{
  text-align: right !important;
}
