.proj-title-sep{
  height: 2px;
  background-color: #cf3327 !important;
  color: #cf3327 !important;
  margin: 15px 0px 50px 0px;
}

.proj-code-space{
  padding-top: 10px;
}

.sect-title-space{
  padding-top: 25px;
}

.sect-title-sep{
  width: 50%;
  height: 1px;
  background-color: #cf3327 !important;
  color: #cf3327 !important;
  margin: 3px 0px 15px 0px;
}

.proj-img-holder{
  padding-top: 5px;
  padding-bottom: 25px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}
